:root {
  --white-color: #f9f9f9;
  --black-color: #1b1b1b;
  --blue-retro: #2e2157;
  --blue-sea: #3f72af;
  --blue-normal: #023788;
  --orange-normal: #fba834;
  --purple-normal: #541388;
  --purple-retro: #791e94;
  --orange-retro: #ff6c11;
  --fuchsia-retro: #fd3777;
  --pink-retro: #f706cf;
  --red-retro: #fd1d53;
  --yellow-retro: #f9c80e;
  --lightblue-retro: #2de2e6;
}
/*
body {
}
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header,
#buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Honk", system-ui;
  font-size: 100px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#buttons-container {
  width: 60%;
  justify-content: space-evenly;
}

#buttons-container > button {
  border: none;
  width: 100px;
  height: 50px;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s;
}

#buttons-container > button:hover {
  transform: scale(1.1);
  box-shadow:
    2px 4px 6px var(--black-color),
    inset 0 0 0 var(--black-color);
}
